<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar vehículo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <header class="bg-secondary">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-light" style="--bs-text-opacity: .5;" href="agregarVehiculo.html">Ingresar vehículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" style="--bs-text-opacity: .5;" href="adicionarDiagnostico.html">Adicionar diagnóstico</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" style="--bs-text-opacity: .5;" href="consultarVehiculo.html">Consultar diagnóstico</a>
                </li>
              </ul>            
        </nav>        
    </header>
    <main class="container">
        <br>
        <section>
           <form class="" action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Placa</span>
                    <input type="text" class="form-control" id="inputGroupFile02" placeholder="ZXY34E">
                    <label class="input-group-text" for="inputGroupFile02">Buscar</label>
                </div>
            </form>
            <div>
                <p>Escribir diagnóstico del vehículo</p>
                <textarea class="form-control" placeholder="Escriba el diagnóstico del vehículo..." id="floatingTextarea2" style="height: 200px"></textarea>
            </div>
            <br>
            <div class="input-group mb-3">
                <button type="button" class="btn btn-primary">Adicionar</button>
            </div>        
    </section>
    </main>    
    <footer>

    </footer>
</body>
</html>