<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar vehículo</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- JavaScript -->
    <script src="../models/vehiculo.js"></script>
</head>
<body>
    <header class="bg-secondary">
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active text-light" aria-current="page" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-light" style="--bs-text-opacity: .5;" href="agregarVehiculo.html">Ingresar vehículo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" style="--bs-text-opacity: .5;" href="adicionarDiagnostico.html">Adicionar diagnóstico</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" style="--bs-text-opacity: .5;" href="consultarVehiculo.html">Consultar diagnóstico</a>
                </li>
              </ul>            
        </nav>        
    </header>    
    <main class="container">
        <h2>Ingresar vehículo</h2>
        <p>Diligenciar los datos del vehículo. Los campos marcados con * son obligatorios</p>
        <section>
            <form class="" action="">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Placa</span>
                    <input type="text" class="form-control" id="placa" placeholder="ZXY34E">
                    <label class="input-group-text" for="inputGroupFile02">Buscar</label>
                </div>
            </form>
            <form action="">
                <div class="row">
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Marca *</span>
                        <input type="text" id="marca" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Línea</span>
                        <input type="text" id="linea" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Modelo *</span>
                        <input type="text" id="modelo" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                  
                </div>
                <div class="row">
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Cilindrada (C.C.)</span>
                        <input type="text" id="cilindrada" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Color</span>
                        <input type="text" id="color" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                    <div class="col input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Tipo *</label>
                        <select class="form-select" id="tipo">
                          <option value="1">Particular</option>
                          <option value="2">Público</option>
                        </select>
                    </div>    
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Clase</span>
                        <input type="text" id="clase" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                </div>
                <div class="row">
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Propietario *</span>
                        <input type="text" id="propietario" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>                
                    <div class="col input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Identificación *</span>
                        <input type="text" id="identificacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>    
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="mostrar()">Registrar</button>
                </div>                
            </form>
        </section>
    </main>
    <footer>

    </footer>
    <script>iniciar()</script>
</body>
</html>