h1 {
    text-align: center;
}


  .bi {
      vertical-align: -.125em;
      fill: currentColor;
  }        

/* IMAGEN FONDO PRINCIPAL */

.itemHeader {
	background-image:url('https://fotos.perfil.com//2019/10/07/900/0/cuales-son-los-autos-mas-potentes-del-mundo-788463.jpg');
	background-repeat:no-repeat;
	background-position:0% top;
	background-size:cover;
	background-attachment:scroll;
	background-color:rgba(0,0,0,0);
}

.text-homeimage {
	text-align:center;
	color:rgb(83, 20, 20);
	z-index:2;
	position:relative;
	font-size:75px;
	line-height:90px;
	text-transform:uppercase;
	padding-top:190px;
	padding-bottom:190px;
	font-weight:700;
	font-family:Dosis;
}
.subtext-image {
	text-transform:none;
	font-weight:100 !Important;
}


  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
